<h1>About us</h1>
<p>Kaushalya is founded by Raghu Prasad Konandur an IT Professional,academician and corporate trainer. He has 20 + years of experience in IT.

    He started of his career as a Lecturer in an Engineering college and then switched to IT. He has worked with multiple top notch companies.He has started Kaushalya with the intension of bridging the gap between the expectation of the industry and the skills of the students/professionals.
    
    </p>
<button class="btn btn-secondary" routerLink="/registration">Sign-in</button>
<button class="btn btn-dark" routerLink="/login">Log-in</button>
